# Editor and OS artifacts
.DS_Store
**/.svn/
/*.project
va specific
.notes/

# build files
target/
*.lock
*.DS_Store
/cache

# Test artifacts
.engine
WEB-INF/
tests/models/testSeeder.sql
tests/results/
tests/**/*.db
tests/**/*.hbm.xml
testbox
db

# Secrets
.env