# Editor and OS artifacts
.vscode
.DS_Store
**/.svn/
/*.project
va specific
.notes/

# build files
target/
*.lock
*.DS_Store
/cache

# Test artifacts
.engine
WEB-INF/
tests/**/*.db
tests/**/*.hbm.xml
testbox

# Secrets
.env