# Uncomment and edit to test on MS SQL Server
# MSSQL_SERVER=127.0.0.1
# MSSQL_USERNAME=sa
# MSSQL_PASSWORD=myPassword
# MSSQL_PORT=1433
# MSSQL_DATABASE=test

# Uncomment and edit to test on MYSQL or MariaDB
# MYSQL_SERVER=127.0.0.1
# MYSQL_USERNAME=root
# MYSQL_PASSWORD=bla
# MYSQL_PORT=3306
# MYSQL_DATABASE=test123


# Uncomment and edit to test on Postgres
# POSTGRES_SERVER=127.0.0.1
# POSTGRES_USERNAME=root
# POSTGRES_PASSWORD=bla
# POSTGRES_PORT=3306
# POSTGRES_DATABASE=test123

# Uncomment and edit to test on Oracle
# ORACLE_SERVER=127.0.0.1
# ORACLE_USERNAME=root
# ORACLE_PASSWORD=bla
# ORACLE_PORT=3306
# ORACLE_DATABASE=test123